
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Investigate why this
grid-template-rows: 0.1fr 1fr; works
 */

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    background: wheat;
}

/* Investigate why 'justify-content': center
compresses the div to minimum width, and
'margin: 0 auto' achieves the desired result 
instead.  */

.head {
    background: white;
    display: grid;
    padding: 0.5rem 0rem;
    border-bottom: 1px solid #333;
    /* justify-content: center; */
    align-content: center;
    width: 100vw;
}

.head > nav {
    display: grid;
    grid-template-columns: 0.6fr 0.2fr 0.2fr;
    /* background: purple; */
    margin: 0 auto;
    gap: 0.5rem;
    width: 70%;
}

.head > nav > p {
    /* background: yellow; */
    padding: 0.3rem;
    /* justify-self: center; */
}

.flipper-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(89, 178, 190);
    letter-spacing: 0.15rem;
}

.simple-option {
    justify-self: center;
}

.hex-option {
    justify-self: center;
}

.txt {
    letter-spacing: 0.05rem;
    font-weight: 500;
    color: #101014;
    /* transition: all 0.1s ease; */
}

.txt:hover {
    border-bottom: 2px solid powderblue;
    color: rgb(23, 51, 56);
}

.txt-active {
    border-bottom: 2px solid powderblue;
    color: rgb(23, 51, 56);
}

main {
    background: powderblue;
    display: grid;
    justify-content: center;
    align-content: center;
}

main > section {
    margin: 1rem 0rem;
}

.bg-color-text-con {
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    letter-spacing: 0.1rem;
    padding: 0.5rem 0.3rem;
    border-radius: 0.3rem;
    background: #222;
}

.bg-color-btn-con {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 0.1rem;
}

.change-color-btn {
    border: 2px solid #333;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.2rem;
    background: transparent;
    transition: all 0.3s;
}

.change-color-btn:hover {
    background: #222;
    color: white;
}

.new {
    color: #cf2121;
    color: #8e2d8e;
    color: #3482ff9f;
    color: #18b618;
    color: #a0522d;
    color: #c0c0c0;
}







